strong.italic {
    font-style: italic;
    color: teal;
}

table.infobox {
    color: #000;
    font-size: 90%;
    line-height: 1.1em;
    float: right;
    clear: right;
    margin: 0.5em 0 0.5em 1em;
    width: 23em;
    border: 1px solid #aaa;
    padding: 2px;
}